# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  say-hello:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Say hello World"
          command: "echo Hello, World!"

  run-lint:
    docker:
      - image: node:18
    steps:
      - checkout
      - run:
          name: "Run linter (es-lint)"
          command: "cd TYPESCRIPT && npm install --legacy-peer-deps && npm install --save-dev typescript && ls -al && npm run lint"

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  say-hello-workflow:
    jobs:
      - say-hello
      - run-lint